* {
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f8ecf3;
    font-size: 20px;
}
.header {
    background: linear-gradient(210deg, #7c2f94, #f340a8);
    color: white;
    padding: 30px;
    text-align: center;
}
.section {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 3;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.card h3 {
    margin-bottom: 10px;
}
.card p {
    margin-bottom: 15px;
}
.button {
    display: flex;
    gap: 10px;
}
.knop {
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
}
.knop.bl {
    background: #53d65a;
}
.knop.pi {
    background: #d65353;
}
.knop.dey {
    width: 100%;
    background: #e05aa9;
}
.aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu, .info {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.menu h3,
.info h3 {
    margin-bottom: 10px;
}
.menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-left: 3px solid #ca2cc2;
    margin-bottom: 5px;
}
.footer {
    background: #555555;
    color: white;
    padding: 20px;
    text-align: center;
}
.fot {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.fot span {
    background: #555;
    padding: 5px 10px;
    border-radius: 5px;
}